@font-face {
    font-family: Milker;
    src: url(fonts/Milker.otf);
}
@font-face {
    font-family: Mono;
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: Mono-Bold;
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

:root{
        --backgroundColor:#EBEAE5;
        --secondColor:#29292F;
        
}


*{
margin: 0px;
padding: 0px;
overflow: hidden;
}
#nav{
    background-color: var(--secondColor);
    background-image: linear-gradient(rgba(41, 41, 47,0.5), rgba(235, 234, 229,0.3));
    font-family: milker;
    color: var(--backgroundColor);
    display: flex;
    /*
    justify-content: center;
    gap: 20vw;
    */
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    font-size: 200%;
   
}
.navOpt{
    padding: 10vh;
     transition: all 0.3s;
}
.navOpt:hover{
    cursor: pointer;
color: white;
transform: scale(105%);
text-shadow: 5px 5px 1px black;
}
#landingLayout{
    height: 85vh;
    background-color: var(--backgroundColor);
    background-image: linear-gradient(to top right, rgba(41, 41, 47,0.5) 5%, rgba(235, 234, 229,0.3),  rgba(235, 234, 229,0.3));
    /*background-image: linear-gradient(to bottom left, rgba(41, 41, 47,0.5) 10%, rgba(235, 234, 229,0.3),  rgba(235, 234, 229,0.3));*/
}
#title{
    font-family: milker;
    font-size: 500%;
    text-align: center;
    color: var(--secondColor);
    position: absolute;
    left: 5vw;
    top: 30vh;
}
#landingDescription{
    font-family: mono;
    color: var(--secondColor);
    width: 700px;
    position: absolute;
    left: 5vw;
    top: 50vh;
}

#landingBTNs{/*maybe positions der BTNs anpassen*/
    padding-bottom: 4vh;
    padding-top: 4vh;
display: flex;
justify-content: space-evenly;
width: 30vw;
position: absolute;
left: 5vw;
bottom: 20vh;
}
.landingBTN{
    width: 10vw;
    height: max-content;
    padding: 1vh 0;
    border: 3px solid var(--secondColor);
    border-radius: 10px;
    font-family: milker;
    color: var(--secondColor);
    text-align: center;
    transition: all 0.5s;
}
#tutorialBTN{
    background-color: var(--secondColor);
    color: var(--backgroundColor);
    transition: all 0.5s;
}
.landingBTN:hover{ /*maybe Border weg*/
    scale: 105%;
    box-shadow: 7px 9px 10px black;
    border: 3px solid var(--backgroundColor);
    color: var(--backgroundColor);
    background-color: var(--secondColor);
}
#tutorialBTN:hover{/*same*/
    scale: 105%;
    box-shadow: 7px 9px 10px black;
    border: 3px solid var(--secondColor);
    color: var(--secondColor);
    background-color: var(--backgroundColor);
}
#landingVinyl{
   height: 140vh;
    position: absolute;
    top: 25vh;
    left: 50vw;
    animation: rotation 6s linear infinite;
}
@keyframes rotation {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}