@font-face {
    font-family: Milker;
    src: url(../fonts/Milker.otf);
}
@font-face {
    font-family: Mono;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: Mono-Bold;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

:root{
        --backgroundColor: #EBEAE5;
        --secondColor:#29292F;

        --backgroundImage: linear-gradient( to bottom right ,rgba(235, 234, 229, 0.2) 20%, rgba(13, 3, 51, 0.5));

        --borderRadius:10px;
        --cardBackground:linear-gradient( #29293F, #29292F);
        
}

*{
margin: 0px;
padding: 0px;
overflow-x: hidden;
}
body{
    background-color: var(--backgroundColor);
    color: var(--secondColor);
    background-image: var(--backgroundImage);
    background-attachment: fixed;
    color: var(--backgroundColor);
}

#header{
    height: 10vh;
    background-color: var(--secondColor   );
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.returnContainer{
    height: min-content;
    position: absolute;
    display: inline-flex;
    align-items: center;

    top: 1vh;
    left: 1vh;
}
#polygon1{
    position: relative;
    left: 20%;
    z-index: 0;
}
#polygon2{
 z-index: 2;
}
#BPMBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#controls{
    
    width: 30vw;
    display: flex;
justify-content: space-evenly;
margin: 0 auto;
}

#playButton{
    overflow: hidden;
    height: 5vh;
}
#playButton img{
    height: 100%;
}


#SEQ_Container{
    background-color: white;
    margin: 20vh auto;
    padding: 1vw;
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    gap: 0.5vw;

}
.notes{
    width: 5vw;
    height: 5vw;
    background-color: #29292F;
    border-radius: var(--borderRadius);
}
.firstBeatOfBar{
    background-color: #504b50;
}
.active{
background-color: rgb(34, 34, 158);
}