@font-face {
    font-family: Milker;
    src: url(../fonts/Milker.otf);
}
@font-face {
    font-family: Mono;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: Mono-Bold;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

:root{
        --backgroundColor:#EBEAE5;
        --secondColor:#29292F;
        
}
a{
    text-decoration: none;
    padding: 4vh;
}

*{
margin: 0px;
padding: 0px;
overflow-x: hidden;
}
body{
    background-color: var(--backgroundColor);
    color: var(--secondColor);
    background-image: linear-gradient( to bottom right ,rgba(235, 234, 229, 0.2) 20%, rgba(13, 3, 51, 0.5));
    background-attachment: fixed;
}

.returnContainer{
    width: 10vw;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: -150px;
}
#polygon1{
    position: relative;
    left: 2vw;
    z-index: -1;
}
#headline{
    font-family: Milker;
    text-align: center;
font-size: 300%;
margin-bottom: 20vh;
}
img{
    box-shadow: 0.3vw 0.3vw 0.3vw black;
    border-radius: 5px;
}

h2{
    width: max-content;  
    font-family: Milker;
    font-size: 300%;
    border-bottom: 4px var(--secondColor) solid;
    margin-left: 3vw;
   
}
h3{
    width: 100%;  
    font-family: Milker;
    font-size: 200%;
text-align: center;
margin: 5vh auto;
}
.infoSegment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 5vw;
    padding: 5vw;
    
}

.infoSegment p, strong{
    font-family: Mono;
    font-size: x-large;
}
.drittel{
    width: 27.5vw;
}
.zweiDrittel{
    width: 55.5vw;
}


