@font-face {
    font-family: Milker;
    src: url(fonts/Milker.otf);
}
@font-face {
    font-family: Mono;
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: Mono-Bold;
    src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

:root{
        --backgroundColor:#EBEAE5;
        --secondColor:#29292F;
        
}
a{
    text-decoration: none;
    padding: 4vh;
}

*{
margin: 0px;
padding: 0px;
overflow-x: hidden;
}
body{
    background-color: var(--backgroundColor);
    color: var(--secondColor);
    background-image: linear-gradient();
}

#headline{
    font-family: milker;
    text-align: center;
font-size: 300%;
}

img{
    width: 30vw;
}