@font-face {
    font-family: Milker;
    src: url(../fonts/Milker.otf);
}
@font-face {
    font-family: Mono;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
    font-family: Mono-Bold;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

:root{
        --backgroundColor: #EBEAE5;
        --secondColor:#29292F;

        --backgroundImage: linear-gradient( to bottom right ,rgba(235, 234, 229, 0.2) 20%, rgba(13, 3, 51, 0.5));

        --borderRadius:10px;
        --cardBackground:linear-gradient( #29293F, #29292F);
        
}

*{
margin: 0px;
padding: 0px;
overflow-x: hidden;
}
body{
    background-color: var(--backgroundColor);
    color: var(--secondColor);
    background-image: var(--backgroundImage);
    background-attachment: fixed;
    color: var(--backgroundColor);
}

#header{
    height: 15vh;
    background-color: var(--secondColor   );
    display: flex;
    justify-content:center ;
    gap: 10vw;
    align-items: center;
}
.returnContainer{
    height: min-content;
    position: absolute;
    display: inline-flex;
    align-items: center;

    top: 1vh;
    left: 1vh;
}
#polygon1{
    position: relative;
    left: 20%;
    z-index: 0;
}
#polygon2{
 z-index: 2;
}
#BPMBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#controls{
    position: absolute;
    font-family: Mono;
    display: flex;
    justify-content:center ;
    gap: 15vw;
    align-items: center;
margin: 0 auto;
}

#playButton{
    overflow: hidden;
    height: 5vh;
}
#playButton img{
    height: 100%;
}
#headerBTNContainer{
    display: flex;
    width: max-content;
    gap: 5vw;
}

#clearBTN{

     overflow: hidden;
   padding: 1vw;
    background-color: var(--secondColor);
    border-radius: var(--borderRadius);
    border: var(--backgroundColor) solid 1px;
}
#saveBTN{
    overflow: hidden;
   padding: 1vw;
    background-color: blue;
    border-radius: var(--borderRadius);
}


#SEQ_Container{
    font-family: Mono;
    color: black;
    background-color: white;
    margin: 20vh auto;
    padding: 1vw;
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 8vw  repeat(16,1fr);
    gap: 0.5vw;
    border-radius: var(--borderRadius);
}
.rowLabel{
    width: 8vw;
    height: 4vw;
    position: relative;
}
.rowLabel p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}
.notes{
    width: 4vw;
    height: 4vw;
    background-color: #29292F;
    border-radius: var(--borderRadius);
}
.firstBeatOfBar{
    background-color: #504b50;
}
.active{
background-color: rgb(34, 34, 158);
}
.current{
    border: 2px black solid;
}


#savingOptions{
       font-family: Mono;
    color: var(--backgroundColor);
    width: 50vw;
    height: 50vh;
    background-color: var(--secondColor);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--borderRadius);
    border: 3px var(--backgroundColor) solid;
    padding: 2vw;
    box-shadow: 1vw 1vw 1vw black;
}
#savingOptionsContainer{
    margin: 5vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

#BTNContainer{
display: flex;
justify-content: center;
 align-items: center;
    gap: 5vw;
    padding: 2vh;
}
#BTNContainer div{
    width: max-content;
    padding: 1vw;
    border-radius: var(--borderRadius);
} 
#closeSavingBTN{
    border: var(--backgroundColor) solid 1px;
    color: var(--backgroundColor);
background-color: var(--secondColor);
}
#savingBTN{
color: var(--backgroundColor);
background-color: blue;
}